# torchsummary==1.5.1
# torchsummaryX==1.3.0
matplotlib==3.6.1
numpy==1.24.4
statannotations==0.6.0
GPUtil
lmdb
plotly
pandas
protobuf
scikit_image
scikit_learn
scipy
seaborn
imagecodecs
tifffile
tqdm
#--index https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
# --index https://download.pytorch.org/whl/cu117
torchvision==0.14.1+cu117
